.pg-temporadas {
  padding: 100px 0;
}

.pg-temporadas h2 {
  margin-bottom: 60px;
}

.pg-temporadas dl > div {
  padding: 20px;
  border-radius: 4px;
}

.pg-temporadas dl > div:nth-child(odd) {
  background-color: var(--c1);
}

.pg-temporadas button {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
}

.pg-temporadas button::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  background-color: var(--p1);
}

.pg-temporadas button::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 6px;
  background: url("/img/icons/seta-abrir.svg");
  transition: 300ms;
}

.pg-temporadas button:hover::after,
.pg-temporadas button[aria-expanded="true"]::after {
  transform: rotate(180deg);
}

.pg-temporadas dd {
  display: none;
}

.pg-temporadas dd.ativa {
  display: block;
}

.pg-temporadas dd {
  padding-left: 20px;
  padding-top: 16px;
  max-width: 80ch;
}

@media (max-width: 800px) {
  .pg-temporadas {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .pg-temporadas h2 {
    padding-bottom: 40px;
  }
}
