.introducao-bg {
  background: var(--c12) url(/img/IntroducaoGOT.jpg) no-repeat;
  background-size: contain;
  background-position: right;
  padding-top: 100px;
}

.introducao {
  padding-top: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}

.introducao-conteudo {
  align-self: end;
}

.introducao h1 {
  margin-bottom: 4rem;
}

.introducao p {
  margin-bottom: 20px;
}

.introducao img {
  width: 100%;
  height: 100%;
  object-fit: cover; /*Redimensiona para caber no conteiner sem distorcer (cover)*/
}

.btn-intro {
  margin-bottom: 40px;
}
