.temporadas-bg {
  background-color: var(--c12);
}

.temporadas {
  padding: 60px 0;
}

.temporadas h2 {
  margin-bottom: 40px;
}
.temporadas-lista {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 60px;
  justify-content: center;
}

.gambiarra {
  grid-column: 1 / -1;
  display: flex;
  gap: 30px;
  margin: 0 auto;
}
.temporadas-lista p {
  max-width: 400px;
}
.temporadas-lista h3 {
  margin-top: 15px;
  margin-bottom: 5px;
}
